body {
  min-height: 1000px;
}

.navbar-static-top {
  margin-bottom: 19px;
  background-color: #0C3C26;
  border-color: #0C3C26;
}

.navbar-default .navbar-brand {
    color: #FFF;
}

.navbar-default .navbar-brand:hover {
    color: #44B78B;
    font-weight: bold;
}

.navbar-default .navbar-nav>li>a:hover {
    color: #44B78B;
    font-weight: bold;
}

.navbar-default .navbar-nav>li>a {
    color: #999;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
}

.navbar-default .navbar-toggle:hover {
    background-color: transparent;
}